.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 0px;
  color: var(--text);
  /* border: 1px solid blue; */
  width: 100%;
}

.mywork_title {
  position: relative;
}

.mywork_title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.themepattermImg {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -79px;
  /* bottom: 0; */
  right: 4px;
  /* z-index: -1; */
  width: 150px;
  height: 150px;
}

.mywork_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 90%;
  /* border: 1px solid red; */
}

.work_container {
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
  width: fit-content;
  margin: 50px 0px;
}
.mywork_img {
  width: 300px;
  height: 180px;
}

.work_container:hover {
  transform: scale(1.1);
  border: 4px solid rgb(27, 111, 147);
  border-radius: 10px;
}

/* .mywork_btn button {
  background-color: #4caf50;
} */
.mywork_btn button {
  padding: 3px 0px;
  border-radius: 10px;
  background: var(--gradient-primary);
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  padding: 4px 8px;
  border: none;
}

.mywork_btn button {
  transform: scale(1.05);
  background: var(--gradient-highlight);
  color: var(--text);
}

.desc_box {
  text-align: center;
}

.desc_box h2 {
  color: var(--text);
}

.mywork_showmore {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 80px;
  padding: 30px 60px;
  transition: 0.6s;
  cursor: pointer;
  align-items: center;
}

.mywork_showmore:hover {
  gap: 30px;
  transition: 0.6s;
}

@media (max-width: 1025px) {
  .mywork {
    gap: 50px;

    width: 100%;
    margin: 80px 0px;
  }
  .mywork_img {
    width: 280px;
    height: 200px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    margin: 50px 0px;
  }
}
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    /* margin: 50px 70px; */
    /* align-items: start; */
    width: 100%;
    margin: 80px 10px;
  }

  .mywork_title h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .themepattermImg {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -88px;
    /* bottom: 0; */
    right: -20px;
    /* z-index: -1; */
    width: 150px;
    height: 150px;
  }

  .mywork_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90%;
    justify-content: center;
  }
  .mywork_img {
    width: 130px;
    height: 150px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 30px;
  }
  /* .mywork_img:hover {
    transform: scale(1.05);
    border: 4px solid rgb(27, 111, 147);
    border-radius: 10px;
  } */

  .mywork_showmore {
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
  .mywork_img {
    width: 350px;
    height: 220px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
  }
}

@media (max-width: 426px) {
  .mywork_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
  }
  .mywork_img {
    width: 100%;
    height: fit-content;
    max-height: 220px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 0px;
    z-index: -20;
  }
  .mywork_title h1 {
    padding: 0;
    font-size: 30px;
    font-weight: 600;
  }

  .themepattermImg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -90px;
    /* bottom: 0; */
    right: -20px;
    /* z-index: -1; */
    width: 150px;
    height: 150px;
  }
}
