.Navbar {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  /* margin-top: 20px; */
  padding-right: 40px;
}

.theme_toggle {
  display: none;
  width: 50px;
}
.theme_toggle1 {
  width: 50px;
  display: block;
  height: 30px;
  background: var(--gradient-primary);
  border: none;
}

.brand_nameimg {
  width: 150px;
  height: 150px;
}
.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 30px;
}

.nav_menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.horizontalline {
  width: auto;
}

/* .nav-menu li img {
  margin: auto;
} */
.nav_connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: var(--gradient-primary);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav_connect:hover {
  transform: scale(1.05);
  background: var(--gradient-highlight);
  color: var(--text);
}

.open_menu {
  display: none;
  /* display: block; */
  right: 30px;
  width: 50px;
  height: 50px;
}

.menu_closemob {
  display: none;
  /* display: block; */
  right: 30px;
  width: 50px;
  height: 50px;
}

.menu-closemob {
  display: none;
}
.menu-openmob {
  display: none;
}

.sunny {
  background-color: white;
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
}
/* 
Testing module styling
*/

@media screen and (max-width: 1024px) {
  .nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .Navbar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: fit-content;
    align-items: center;
    color: var(--text);
    padding-right: 5px;
    gap: 25%;
    padding: 10 30px;
  }

  .brand_nameimg {
    width: 120px;
    height: 120px;
  }

  .nav_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font: 15px;
    position: fixed;
    background-color: var(--primary);
    height: 100%;
    top: 0;
    right: -350px;
    width: 350px;
    transition: 0.5s;
    z-index: 3;
  }

  .theme_toggle {
    width: 25px;
    display: block;
    height: 20px;
    background: var(--gradient-primary);
    border: none;
  }
  .theme_toggle1 {
    display: none;
    width: 50px;
  }
  .nav_connect {
    display: none;
  }
  .connect_with_me {
    display: none;
  }
  .open_menu {
    display: block;
    position: fixed;
    z-index: 1000;
  }

  .menu_closemob {
    display: block;
    width: 40px;
    height: 40px;
  }
}

/* @media screen and (max-width: 426px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 15px;
    position: fixed;
    background-color: var(--primary);
    height: 100%;
    top: 0;
    width: 150px;
    transition: 0.5s;
    z-index: 3;
    align-items: start;
    padding: 10px;
  }
} */

@media screen and (max-width: 426px) {
  /* .nav_menu {
    display: flex;
    flex-direction: column;
  } */

  .brand_nameimg {
    width: 100px;
    height: 100px;
  }

  .open_menu {
    width: 40px;
    height: 40px;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 15px;
    position: fixed;
    background-color: var(--primary);
    height: 100%;
    top: 0;
    width: 200px;
    transition: 0.5s;
    z-index: 3;
    align-items: start;
    padding: 10px;
  }
}
